<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./lib/vue.js"></script>
    <title>Document</title>
    
</head>
<body>
    <div id="app">
        <h1>{{prices1}}</h1>
        <p v-if="show">zmh</p>
        <button v-on:click="handleClose">点击隐藏</button>
        <a href="www.baidu.com" @click="handleClick('禁止打开',$event)">打开链接</a>
        <input type="checkbox" v-model="checked" value="js1" id="js">
        <label for="js">javascript</label>
        <br>
        <input type="checkbox" v-model="checked" value="css1" id="css">
        <label for="css">css</label>
        <br>
        <p>选择的是{{checked}}</p>

        <select v-model="selected">
            <option v-for="option in options" :value="option.value">{{option.text}}</option>
        </select>
        <p>选择的是:{{selected}}</p>

        <input type="radio" v-model="picked" :value="value">
        <label>单选按钮</label>
        <p>{{picked}}</p>
        <p>{{value}}</p>

        <input type="text" v-model="value1" value="233333333">
        <p>111  {{value1}}</p>
    </div>

    <div id="app1" >


    </div>

    <script>
        new Vue({
            el:'#app1',
            data:{
                
            }
        });
        var vm=new Vue({
            el:'#app',
            data:{
                value1:'',
                picked:false,
                value:123,
                selected:'html',
                options:[{text:'html',value:'html'},{text:'javascript',value:'js'}],
                checked:['html','css'],
                flag:true,
                list:{},
                name:'',
                a:2,
                show:true,
                date:new Date(),
                text:'133,456,789',
                package1:[
                    {
                        name:'1',
                        price:1,
                        count:2
                    },
                    {
                        name:'2',
                        price:2,
                        count:3
                    }
                ]
            },
            computed:{
                reversedText:function(){
                    return this.text.split(',').reverse().join(',');
                },
                prices1:function(){
                    var prices=0;
                    for(var i=0;i<this.package1.length;i++){
                        prices+=this.package1[i].price*this.package1[i].count;
                    }
                    return prices;
                }
            },
            methods:{
                handleClose:function(){
                    this.close();
                },
                close:function(){
                    this.show=!this.show;
                },
                handleClick:function(message,event){
                    event.preventDefault();
                    window.alert(message);
                }
            },
            created:function(){
                console.log(this.a);
            },
            mounted:function(){
                var _this=this;
                this.timer=setInterval(function(){_this.date=new Date;},1000);
            },
            beforeDestroy:function(){
                if(this.timer){
                    clearInterval(this.timer);
                }
            },
            filters:{
                formatDate:function(value){

                }
            }
        });
    </script>

</body>
</html>